:root{
    --text-color: #000000;
    --body-color: #E9E9E9;
    --header-color: #BFBFBF;
    --lines-color: #000000;
    --header-buttons: #8A8A8A;
    --header-buttons-hover: #7A7A7A;
    --header-buttons-active: #AAAAAA;
    --main-buttons: #AAAAAA;
    --main-buttons-hover: #8A8A8A;
    --main-buttons-active: #BBBBBB;
    --main-element: #FFFFFF;
    --main-border: #000000;
    --cpp-logo: #8080FF;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
}
header{
    margin: 0;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    background-color: var(--header-color);
}
.horLineLogo{
    margin-left: 2vw;
    padding: 0;
    width: 1px;
    background-color: var(--lines-color);
    size: 100%;
    float: left;
}
.headerButtons{
    display: flex;
    flex-direction: row;
}
.swapTheme{
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn2.iconfinder.com/data/icons/essential-user-interface-4/24/dark_mode_moon_night-1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--header-buttons);
    border-radius: 2vw;
    margin: 1vw;
}
.swapTheme:hover{
    transition-duration: 50ms;
    background-color: var(--header-buttons-hover);
    scale: 1.1;
}
.swapTheme:active{
    animation-duration: 50ms;
    background-color: var(--header-buttons-active);
    scale: 0.9;
}
.to2PageBut{
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-buttons);
    border-radius: 2vw;
    margin: 1vw;
}
.to2PageBut:hover{
    transition-duration: 50ms;
    background-color: var(--header-buttons-hover);
    scale: 1.1;
}
.to2PageBut:active{
    animation-duration: 50ms;
    background-color: var(--header-buttons-active);
    scale: 0.9;
}
.to2PageButText{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.toMainBut{
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-buttons);
    border-radius: 2vw;
    margin: 1vw;
}
.toMainBut:hover{
    transition-duration: 50ms;
    background-color: var(--header-buttons);
    scale: 1.1;
}
.toMainBut:active{
    animation-duration: 50ms;
    background-color: var(--header-buttons-active);
    scale: 0.9;
}
.toMainButText{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.RandomBut{
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-buttons);
    border-radius: 2vw;
    margin: 1vw;
}
.RandomBut:hover{
    transition-duration: 50ms;
    background-color: var(--header-buttons-hover);
    scale: 1.1;
}
.RandomBut:active{
    animation-duration: 50ms;
    background-color: var(--header-buttons-active);
    scale: 0.9;
}
.RandomButText{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.cpp_Logo{
    margin: 0;
    padding: 0;
    background-color: var(--cpp-logo);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    border-radius: 3vw;
}
.cpp_Text{
    color: var(--text-color);
    display: flex;
    font-size: 2em;
    margin: 0; 
    padding: 0;
}
.textLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tipsNtricks_Text{
    color: var(--text-color);
    display: flex;
    margin: 0;
    padding: 0;
}
@media (max-width: 950px) {
    .tipsNtricks_Text { display: none; }
    .cpp_Text{
        font-size: 1.5em;
    }
    .cpp_Logo{
        justify-content: space-around;
    }
}
.FeatureBlock{
    margin-top: 2vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.FeatureBlockCode{
    color: var(--text-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.codeSample{
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    width: 30vw;
    height: fit-content;
    justify-content: flex-start;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5px;
    padding-bottom: 3vw;
    border: solid 1px;
    border-color: var(--main-border);
    background-color: var(--main-element);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.copyBut{
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin: 3vw;
    background-color: var(--main-buttons);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Ic_content_copy_48px.svg/1200px-Ic_content_copy_48px.svg.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 0.75vw;
}
.copyBut:hover{
    animation-duration: 50ms;
    background-color: var(--main-buttons-hover);
    scale: 1.1;
}
.copyBut:active{
    animation-duration: 50ms;
    background-color: var(--main-buttons-active);
    scale: 0.9;
}
.horLine{
    padding: 0;
    margin: 0;
    width: 1px;
    background-color: var(--lines-color);
    size: 100%;
    float: left;
}
.ExplText{
    color: var(--text-color);
    justify-content: center;
    padding: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 30vw;
}