body{
    padding: 0;
    margin: 0;
    background-color: #E9E9E9;
}
header{
    margin: 0;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    background-color: #BFBFBF;
}
.horLineLogo{
    margin-left: 2vw;
    padding: 0;
    width: 1px;
    background-color: #000000;
    size: 100%;
    float: left;
}
.headerButtons{
    display: flex;
    flex-direction: row;
}
.toMainBut{
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8A8A8A;
    border-radius: 2vw;
    margin: 1vw;
}
.toMainBut:hover{
    transition-duration: 50ms;
    background-color: #7A7A7A;
    scale: 1.1;
}
.toMainButText{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.RandomBut{
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8A8A8A;
    border-radius: 2vw;
    margin: 1vw;
}
.RandomBut:hover{
    transition-duration: 50ms;
    background-color: #7A7A7A;
    scale: 1.1;
}
.RandomButText{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.cpp_Logo{
    margin: 0;
    padding: 0;
    background-color: #8080FF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    border-radius: 3vw;
}
.cpp_Text{
    display: flex;
    font-size: 2em;
    margin: 0; 
    padding: 0;
}
.textLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tipsNtricks_Text{
    display: flex;
    margin: 0;
    padding: 0;
}
@media (max-width: 950px) {
    .tipsNtricks_Text { display: none; }
    .cpp_Text{
        font-size: 1.5em;
    }
    .cpp_Logo{
        justify-content: space-around;
    }
}
.FeatureBlock{
    margin-top: 2vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.FeatureBlockCode{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.codeSample{
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    width: 30vw;
    height: fit-content;
    justify-content: flex-start;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5px;
    padding-bottom: 3vw;
    border: solid 1px black;
    background-color: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.copyBut{
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin: 3vw;
    background-color: #8A8A8A;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Ic_content_copy_48px.svg/1200px-Ic_content_copy_48px.svg.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    border-radius: 0.75vw;
}
.copyBut:hover{
    animation-duration: 50ms;
    background-color: #7A7A7A;
    scale: 1.1;
}
.copyBut:active{
    animation-duration: 50ms;
    background-color: #AAAAAA;
    scale: 0.9;
}
.horLine{
    padding: 0;
    margin: 0;
    width: 1px;
    background-color: #000000;
    size: 100%;
    float: left;
}
.ExplText{
    justify-content: center;
    padding: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 30vw;
}