:root{
    --text-color: #000000;
    --body-color: #E9E9E9;
    --header-color: #BFBFBF;
    --lines-color: #000000;
    --header-buttons: #8A8A8A;
    --header-buttons-hover: #7A7A7A;
    --header-buttons-active: #AAAAAA;
    --main-buttons: #AAAAAA;
    --main-buttons-hover: #8A8A8A;
    --main-buttons-active: #BBBBBB;
    --main-element: #FFFFFF;
    --main-border: #000000;
    --main-result: #333333;
    --cpp-logo: #8080FF;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    height:calc(100vh - 15vw);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
}
header{
    margin: 0;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    background-color: var(--header-color);
}
.horLineLogo{
    margin-left: 2vw;
    padding: 0;
    width: 1px;
    background-color: var(--lines-color);
    size: 100%;
    float: left;
}
.headerButtons{
    display: flex;
    flex-direction: row;
}
.swapTheme{
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn2.iconfinder.com/data/icons/essential-user-interface-4/24/dark_mode_moon_night-1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--header-buttons);
    border-radius: 2vw;
    margin: 1vw;
}
.swapTheme:hover{
    transition-duration: 50ms;
    background-color: var(--header-buttons-hover);
    scale: 1.1;
}
.swapTheme:active{
    animation-duration: 50ms;
    background-color: var(--header-buttons-active);
    scale: 0.9;
}
.toTAT{
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-buttons);
    border-radius: 2vw;
    margin: 1vw;
}
.toTAT:hover{
    transition-duration: 50ms;
    background-color: var(--header-buttons-hover);
    scale: 1.1;
}
.toTAT:active{
    animation-duration: 50ms;
    background-color: var(--header-buttons-active);
    scale: 0.9;
}
.toTATText{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.toMain{
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-buttons);
    border-radius: 2vw;
    margin: 1vw;
}
.toMain:hover{
    transition-duration: 50ms;
    background-color: var(--header-buttons-hover);
    scale: 1.1;
}
.toMain:active{
    animation-duration: 50ms;
    background-color: var(--header-buttons-active);
    scale: 0.9;
}
.toMainText{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.cpp_Logo{
    margin: 0;
    padding: 0;
    background-color: var(--cpp-logo);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    border-radius: 3vw;
}
.cpp_Text{
    color: var(--text-color);
    display: flex;
    font-size: 2em;
    margin: 0; 
    padding: 0;
}
.textLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tipsNtricks_Text{
    color: var(--text-color);
    display: flex;
    margin: 0;
    padding: 0;
}
@media (max-width: 950px) {
    .tipsNtricks_Text { display: none; }
    .cpp_Text{
        font-size: 1.5em;
    }
    .cpp_Logo{
        justify-content: space-around;
    }
}
.inputQuests{
    margin-top: 3vmin;
    width: fit-content;
    user-select: none;
}
.start{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.startButton{
    width: 50vmin;
    height: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-buttons);
    border-radius: 10vmin;
    margin: 1vw;
}
.startButton:hover{
    transition-duration: 50ms;
    background-color: var(--main-buttons-hover);
    scale: 1.1;
}
.startButton:active{
    animation-duration: 50ms;
    background-color: var(--main-buttons-active);
    scale: 0.9;
}
.startButtonText{
    color: var(--text-color);
    font-size: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.questions{
    display: none;
    flex-direction: column;
    align-items: center;
}
.timerQst{
    color: var(--text-color);
    position: relative;
    left: 17vmin;
    font-weight: 600;
    font-size: 2vmin;
}
.question{
    display: flex;
    padding: 5vw;
    padding-top: 0;
    background-color: var(--main-element);
    border: solid 2px;
    border-color: var(--main-border);
    border-radius: 1vw;
    width: 45vmin;
    height: 45vmin;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.quesText{
    color: var(--text-color);
    font-size: 2vmin;
    height: 80%;
    user-select: none;
}
.bottomInput{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap:5px;
}
.inputAns{
    user-select: none;
    width: 70%;
}
.checkBut{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-buttons);
    border-radius: 3px;
    width: 25%;
}
.checkBut:hover{
    transition-duration: 50ms;
    background-color: var(--main-buttons-hover);
    scale: 1.05;
}
.checkBut:active{
    animation-duration: 50ms;
    background-color: var(--main-buttons-active);
    scale: 0.95;
}
.checkButText{
    color: var(--text-color);
    font-size: 1.5vmin;
    user-select: none;
}
.topTextRes{
    color: var(--text-color);
    font-size:180%;
}
.progress{
    color: var(--text-color);
}
.mistRes{
    color: var(--text-color);
}
.endResult{
    display: none;
    color: var(--main-element);
    font-size: 1.5vmin;
    background-image: url("https://m.media-amazon.com/images/M/MV5BMjAwMTE3MTUyNV5BMl5BanBnXkFtZTcwNDM1MDUwOA@@._V1_.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--main-result);
    border-radius: 2vmin;
    width: 45vmin;
    height: 60vmin;
    user-select: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.results{
    display: flex;
    gap: 1vw;
    justify-content: space-around;
    flex-direction: row;
}
.questRes{
    color: var(--text-color);
    margin: 0;
    padding-top: 35vmin;
}
.timeRes{
    color: var(--text-color);
    margin: 0;
}
.timePerQuestRes{
    color: var(--text-color);
    margin: 0;
}